<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Signin Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link th:href="@{/css/signin.css}" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" th:action="@{/user/login}">
			<img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>

			<!--如果 msg 的值为空，则不显示消息-->
			<p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>

			<label class="sr-only" th:text="#{login.username}">Username</label>
			<input type="text" name="username" class="form-control" th:placeholder="#{login.username}"
				   placeholder="Username" required="" autofocus="">

			<label class="sr-only" th:text="#{login.password}">Password</label>
			<input type="password" name="password" class="form-control"
				   th:placeholder="#{login.password}" placeholder="Password"   required="">
			<div class="checkbox mb-3">
				<label>
          <input type="checkbox" value="remember-me">  [[#{login.remember}]]
        </label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" >[[#{login.btn}]]</button>
			<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
			<!--
				向 index.html发出请求时，会带上对应的参数
				th:href="@{/index.html(local='zh_CN')} ： 返回到自身

				例如：默认网址：http://localhost:8080/
				点击“中文”：http://localhost:8080/index.html?local=zh_CN
				点击“英文”：http://localhost:8080/index.html?local=en_US
			-->
			<a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
			<a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
		</form>
	</body>

</html>
